/* BALISEs DE BASE */
h1{
    font-weight: 900;
    font-size: 50px;
}

.button{
    margin: 10px 35% 10px 35%;
}

/* ************** */
/* Recherche/info */
/* ************** */

.rond{
    display: flex;
    margin: auto 45% auto 45%;
}
.frise{
    height: 50px;
    width: 250px;
    display: flex;
    margin: auto;
    margin-bottom: 10px;
}
.txtinfo{
    
    padding-bottom: 100px;
    margin: 20px 1% auto 1%;
    padding: 10px;
}
.bulle{
  
    margin: 20px 4px 0px 4px;
}
/* ANIMATION */
/* @KEYFRAMES */
.blur1 {
	animation: Blur 10s infinite;
}
.blur2 {
    animation: Blur2 10s infinite;
}

@keyframes Blur {
    0% {
        letter-spacing: 0.2em;
        filter: blur(12px);
        opacity: 0;
    }
    10% { 
        letter-spacing: normal;
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes Blur2 {
    0%{
        opacity: 0;
    }
    10% {
        letter-spacing: 0.2em;
        filter: blur(12px);
        opacity: 0;
    }
    20% { 
        letter-spacing: normal;
        filter: blur(0px);
        opacity: 1;
    }  
}
 
/* ******************************************************* */
/* ************************MAIN*************************** */
/* ******************************************************* */

.barre{
    margin: auto auto auto 0px;
}

.container{
    margin-top: 90px;
}
.container h1{
    text-align: left;
}

/* Les métiers *//* Les métiers *//* Les métiers */
.grid{
    display: grid;
    grid-template-columns: auto  auto auto;
    grid-auto-rows: auto;
    grid-template-areas: 
        "fi1 fi2 fi3";
}
.fi3{
    display: initial;
}

.fiche:hover{
    transform: scale(1.04);
    transition: 0.4s;
}

.grid-ordi{
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
    grid-template-areas: 
        "grid-ordi1 grid-ordi2";
}
.grid-ordi-tw{
    align-items: center;
    display: grid;
    grid-template-columns: auto 350px;
    grid-auto-rows: auto;
    grid-template-areas: 
        "grid-ordi-tw1 grid-ordi-tw2";
}

.twitter-tweet{
    display: initial;
    overflow: scroll;
    height:600px;
    margin-top: 90px;
    background: rgba(0, 0, 0, 0.856);
    padding: 10px;
}

.reseaux{
    margin: auto 10px 30px 50px;
    align-items: auto;
    display: inline-flex;
}

.live{
    height: 20px;
    background: blue;
    width: 20px;
    border-radius: 50%;
    animation: live 3s alternate infinite;
    margin: 10px;
    align-items: center;
}

.tw{
    display: flex;
    align-items: center;
}

.tw h1{
    align-items: center;
    margin: 10px;
    font-size: 30px;

}

@keyframes live{
    0%{
        background: blue;
        
    }
    100%{
        background: rgb(255, 0, 106);
        transform: scale(1.5);

    }
}
/* ************************************************************** */
/* PAGES DES MéTIERS : metier.html */ 

.gridinfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "imag textEtape";
    align-items: center;
}

.title{
    grid-area: title;
}
.imag{
    width: 95%;
}

.textEtape{
    grid-area:textEtape;
    margin: 10px;
}


/* Blog */
.gridblog{
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto auto;
    grid-template-areas: 
        "fi1 fi2" 
        "fi3 fi3";
}

/* video */
