body{
    background-color: #424242;
    margin:0px;
    font-family: 'Raleway', serif;
    font-weight: 300;
    color: white;  
}
html{
    scroll-behavior: smooth;
}
/* BACKGROUND */
.bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}
a{
    text-decoration: none;
    color: white;
}
h1{
    font-weight: 800;
    font-size: 30px;
    margin: 20px auto 0px auto;
}
span{
    background: rgb(255, 0, 98);
    padding: 1px;
}

h2{
    font-weight: 500;
    margin-top: 40px;
}

p{margin: 0%;}

input{
    background: transparent;
    padding: 4px;
    color: white;
    border-radius: 50px;
    border:none;
}

input:hover{
    transform: translateX(10px);
    transition: 0.4s;
}
.button{
    background: transparent;
    padding: 5px;
    margin: 10px 20% 10px 20%;
    border-radius:50px; 
}
.button a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px; 
}
.button:hover{
    background: red;
    transform: scale(1.1);
    transition: 0.4s;
    
}

.hover:hover{
    transform: scale(1.04);
    transition: 0.4s;
}
/* OUTILS *//* OUTILS *//* OUTILS *//* OUTILS */
.flex{
    display: flex;
}

.block{
    display: block;
}

.shadow{
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.514);
}


/* ******************************************************* */
/* ************************HEADER************************* */
/* ******************************************************* */
header{
    background: rgba(0, 0, 0, 0.589);
    text-align: center;
}

.degrade{
    animation: color 5s alternate infinite;
    padding: 2px;
}

@keyframes color{   
    0%{
        background: #ff1e00;
    }
   
    100%{
        background: #ffae00;
    }   
}
/* ******************************************************* */
/* **********************FIN HEADER*********************** */
/* ******************************************************* */

/* ******************************************************* */
/* ************************   MENU   ********************* */
/* ******************************************************* */

/* MENU *//* MENU *//* MENU */
nav{
    display: grid;
    grid-template-columns: auto;
    background-color: rgb(19, 19, 19);
    width: 200px;
    height: 100%;
    position: fixed;
    transform: translateX(-200px);
    transition: 0.4s;
    z-index: 2;
}

nav button{
    background: white;
    border: none;
    color: white;
    width: 25px;
    height: 25px;
    margin-left: 150px;
    transition: 0.4s;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

nav button:hover{
    transition: 0.4s;
    background: rgba(255, 255, 255, 0.582);
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
  
nav a {
    color: white;
    padding: 20px;

    text-decoration: none;
    font-size: 20px; 
}
nav a:hover:nth-child(7) {
    background-color: #6e0000;
    color: white;
    transition-duration: 0.4s;
}
nav a:hover:nth-child(6) {
    background-color: #b60000;
    color: white;
    transition-duration: 0.4s;
}

nav a:hover:nth-child(5) {
    background-color: #e60000;
    color: white;
    transition-duration: 0.4s;
}
  
nav a:hover:nth-child(4) {
    background-color: #ff1e00;
    color: white;
    transition-duration: 0.4s;
}
  
nav a:hover:nth-child(3) {
    background-color:#ff6600;
    color: black;
    transition-duration: 0.4s;
}
  
nav a:hover:nth-child(2) {
    background-color:#ff8800;
    color: black;
    transition-duration: 0.4s;
}

nav a:hover:nth-child(1) {
    background-color:#ffae00;
    color: black;
    transition-duration: 0.4s;
}

/* BARRE MENU *//* BARRE MENU *//* BARRE MENU */
.menu {
    background-color: rgb(19, 19, 19);
    width: 100%;
    overflow: hidden;   
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu button {
    color: white;
    float: left;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 20px; 
    background-color: transparent;
    border: none;
}

.align{
    display: grid;
    grid-auto-columns: auto;
    grid-template-rows: 40px 70px 70px 70px 70px 70px 70px;
    padding: 0px;
    align-items: center;
 }

.translate{
    transform: translateX(0px);
}
  
/* ******************************************************* */
/* ************************FIN MENU*********************** */
/* ******************************************************* */

/* ************** */
/* Recherche/info */
/* ************** */

.recherche{
    margin: 20px 7% auto 7%;
    text-align: center;
    padding: 20px 20px 20px 20px;
    background: linear-gradient(90deg, #ff9900 0%,  #ff1e00 100%);
    
}
.recherche p{
    margin: 0px auto 20px auto;
}

/* ******************************************************* */
/* *************************MAIN************************** */
/* ******************************************************* */
.ano{
    font-size: 10px;
    font-weight: 300;   
    font-style: italic;
    margin-bottom: 17px;
}

main{
    background: linear-gradient(90deg, #ff9900 0%,  #ff1e00a9 100%);
    margin: 40px 2% auto 2%;
}
.txt{
    background: rgba(0, 0, 0, 0.856);
    text-align: left;
    padding: 10px;
    margin: 20px 
}
.container{
    padding: 20px;
    margin-top: 90px;
    text-align: left;  
}

.text-left{
    margin: 10px 5px 10px 50px;
}

.text-center{
    text-align: center;
}

.text-justify{
    text-align: justify;
    padding: 30px;
}

.barre{
    margin: 0px auto auto auto;
    height: 2px;
    border-radius: 30px;
    width: 70%;
    background: linear-gradient(90deg, #ffae00 0%,  #ff1e00 100%);
}





/* ******************************************************** */
/* *********************** FOOTER ************************ */
/* ******************************************************** */

footer{
    padding: 5px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 40px;
    margin-top: 70px;
  }
  
  .menu-footer {
    position: relative;
    overflow: hidden;
    padding-top: 40px;
  }
  
  .menu-footer a {
    font-family : 'Raleway' , sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #f2f2f2;
    font-weight:300;
    padding-left: 15px; 
    
  } 
  
.menu-footer a:hover{
    color: #c70dff;
    transition-duration: 0.4s;
}
  
  
  hr{
    margin-top: 20px;
    width: 50%;
  }
