body{
    background-color: #424242;
    margin:0px;
    font-family: 'Raleway', serif;
    font-weight: 300;
    color: white;  
}
/* BACKGROUND */
.bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}
h1{
    font-weight: 800;
    font-size: 30px;
    margin: 20px auto 0px auto;
}
h2{
    font-weight: 500;
    margin: 0%;
}
p{margin: 0%;}

input{
    background: transparent;
    padding: 10px;
    color: white;
    border-radius: 50px;
    border:none;
}

input:hover{
    transform: translateX(10px);
    transition: 0.4s;
}
.button{
    background: transparent;
    padding: 5px;
    margin: 10px 20% 10px 20%;
    border-radius:50px; 
}
.button a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px; 
}
.button:hover{
    background: rgb(0, 255, 213);
    transform: scale(1.1);
    transition: 0.4s;
    
}


/* OUTILS *//* OUTILS *//* OUTILS *//* OUTILS */
.flex{
    display: flex;
}

.block{
    display: inline;
}

.shadow{
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.514);
}


.hover:hover{
    transform: scale(1.04);
    transition: 0.4s;
   
}
/* ******************************************************* */
/* ************************HEADER************************* */
/* ******************************************************* */
header{
    background: rgba(0, 0, 0, 0.589);
    text-align: center;

}

.degrade{
    animation: color 5s alternate infinite;
    padding: 2px;
}
.colortext{
    animation: colortxt 5s alternate infinite;

}


@keyframes color{
    0%{
        background: #00ffea;
    }
    50%{
        background: #ae34ff;

    }
    100%{
        background: #ff73ad;
    }
}
@keyframes colortxt{
    0%{
        color: black;
    }
    50%{
        color: black;

    }
    100%{

        color: black;

    }
}
/* ******************************************************* */
/* **********************FIN HEADER*********************** */
/* ******************************************************* */

/* ******************************************************* */
/* ************************   MENU   ********************* */
/* ******************************************************* */

/* MENU *//* MENU *//* MENU */
nav{
    display: grid;
    grid-template-columns: auto;
    background-color: rgb(19, 19, 19);
    width: 200px;
    height: 100%;
    position: fixed;
    transform: translateX(-200px);
    transition: 0.4s;
    z-index:2;
}
  
nav a {
    color: white;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px; 
}
  
nav a:hover:nth-child(5) {
    background-color: #d4fffb;
    color: black;
    transition-duration: 0.4s;
}
  
nav a:hover:nth-child(4) {
    background-color: #00ffea;
    color: black;
    transition-duration: 0.4s;
}
  
nav a:hover:nth-child(3) {
    background-color:#ae34ff;
    color: black;
    transition-duration: 0.4s;
}
  
nav a:hover:nth-child(2) {
    background-color:#ff73ad;
    color: black;
    transition-duration: 0.4s;
}

nav a:hover:nth-child(1) {
    background-color:#ffd9e9;
    color: black;
    transition-duration: 0.4s;
}

/* BARRE MENU *//* BARRE MENU *//* BARRE MENU */
.menu {
    background-color: rgb(19, 19, 19);
    width: 100%;
    overflow: hidden;   
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu button {
    color: white;
    float: right;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 20px; 
    background-color: transparent;
    border: none;
}
.align{
    display: grid;
    grid-auto-columns: auto;
    grid-template-rows: 70px 70px 70px 70px 70px ;
    padding: 0px;
    align-items: center;
}

.translate{
    transform: translateX(0px);
}
  
/* ******************************************************* */
/* ************************FIN MENU*********************** */
/* ******************************************************* */

/* ************** */
/* Recherche/info */
/* ************** */
.recherche{
    margin: 20px 7% auto 7%;
    text-align: center;
    padding: 20px 20px 20px 20px;
    background: linear-gradient(90deg, #00ffea 0%, #ae34ff 49%, #ff73ad 100%);
}

.recherche p{
    margin: 0px auto 20px auto;
}

/* ******************************************************* */
/* *************************MAIN************************** */
/* ******************************************************* */


main{
    background: linear-gradient(90deg, #00ffea63 0%, #ae34ff42 49%, #ff73ad6b 100%);
    margin: 40px 2% 50px 2%;
}

.container{
    padding: 20px;
    margin-top: 90px;
    text-align: center;
   
}

.barre{
    margin: 0px auto auto auto;
    height: 2px;
    border-radius: 30px;
    width: 70%;
    background: linear-gradient(90deg, #00ffea 0%, #ae34ff 49%, #ff73ad 100%);
}

/* Chronologie *//* Chronologie */
.frise{
    margin-top: 20px;
    /* border-radius:50px; */
    padding: 0px;
    text-align: center;
    clip-path: polygon(98% 0%, 100% 50%, 98% 100%, 0 100%, 2% 50%, 0 0);
    z-index:1;
}

.txt{
    background: rgba(0, 0, 0, 0.856);
    text-align: center;
    margin-top: 40px;
    padding: 20px;
}

.degrade-frise{
    animation: color 10s alternate infinite;
}

/* Voir aussi *//* Voir aussi *//* Voir aussi */
.voir-aussi{
    margin-top: 90px;

}

/* Les métiers *//* Les métiers *//* Les métiers */
.fiche{
    padding: 5px;
    margin: 30px 20px auto 20px;
    text-align: center;
}

.fiches{
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto ;
    grid-template-areas: 
        "fi1"
        "fi2";
}
.fi3{
    display: none;
}

.fiche:nth-child(1){
    background: #ae34ff;
}
.fiche:nth-child(2){
    background: #ff73ad;
}
.fiche:nth-child(3){
    background: #00ffea;
}

.fiche:hover{
    transform: scale(1.02);
    transition: 0.4s;
}

/* ******************************************************** */
/* *********************** FOOTER ************************ */
/* ******************************************************** */

footer{
    padding: 5px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 40px;
  }
  
  .menu-footer {
    position: relative;
    overflow: hidden;
    padding-top: 40px;
  }
  
  .menu-footer a {
    font-family : 'Raleway' , sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #f2f2f2;
    font-weight:300;
    padding-left: 15px; 
    
  } 
  
.menu-footer a:hover{
    color: #c70dff;
    transition-duration: 0.4s;
}
  
  
  hr{
    margin-top: 20px;
    width: 50%;
  }
